.footer {
    background-color:#1a351f;
    width: 100%;
    padding-top:7%;
    color: #e0e0e0;
    box-sizing: border-box;
}
.footer2{
    max-width:80%;
    margin:auto;
    margin-top:5%;
}

.footer-title{
    text-align: left;
    color:#daff71;
    font-size:2em;
    font-weight:bold;
    padding-bottom: 20px;
    margin-left: 20px;
}


.footer-title .arrow {
    font-size: 48px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0 20px; */
    max-width:80%;
    /* margin: 0 auto; */
    /* padding-left: 150px; Shift content slightly to the right */
    box-sizing: border-box;
    margin-left:10%;
    margin-top:-8.5%;
}

.footer-logo {
    margin-left: -60px; /* Move the logo slightly to the left */
    background-color: #1a351f;
    

}

.footer-logo img {
    max-width: 60px;
    margin-left:-80%;
    margin-top:5%;
}

.footer-section {
    flex: 1 1 150px;
    margin:20px;
}

/* .footer-section h3 {
    color: #e0e0e0;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
} */

.footer-section h3 {
    color:rgb(147, 147, 147);
    font-size:0.9em;
    text-transform: uppercase;
    margin-bottom: 8px;
    position: relative;
    padding-bottom: 8px;
    text-align: center; /* Center the text */
    font-family: "Space Grotesk", sans-serif;
    text-align: left;
    font-weight:500;
}

.footer-section h3::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width:50%;
    height:0.1px;
    background-color: #e0e0e0;
}


.footer-section ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    font-size:0.8rem;
    color:whitesmoke;
    margin-top:20px;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #e0e0e0;
    text-decoration: none;
}

.footer-section ul li:hover{
    text-decoration: underline;
}

/* .footer-section a:hover {
    text-decoration: underline;
} */

/* .footer h1 {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    width: 100%;
} */

/* Footer Bottom Section */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px;
    border-top: 1px solid #e0e0e0;
    margin-top: 40px;
    font-size: 14px;
    color: #e0e0e0;
    /* margin-bottom:10%; */
}

.footer-bottom-links a {
    margin-left: 20px;
    color: #e0e0e0;
    text-decoration: none;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-content {
        padding-left: 20px; /* Reset the left padding on smaller screens */
    }

    .footer-section {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .footer-section h3 {
        font-size: 14px;
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-bottom-links {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .footer {
        text-align: center;
    }

    .footer-section {
        margin: 5px 0;
    }

    .footer-section h3 {
        font-size: 12px;
    }
}